<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>

    <div th:fragment="header">
        <title>Shop</title>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/css/style.css}" rel="stylesheet"/>
        <link th:href="@{/static/css/font-awesome.min.css}" rel="stylesheet"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    </div>
</head>

<body>

<div th:fragment="navbar">

    <nav class="navbar navbar-expand-md navbar-dark bg-primary ">
        <a class="navbar-brand" th:href="@{/home}">Alledrogo</a>

        <div class="navbar-collapse collapse justify-content-stretch" id="navbar7">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/contact}">
                        <i class="fa fa-address-book-o"></i>
                        Contact us
                    </a>
                </li>
                <li class="nav-item active" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/shoppingCart}">
                        <i class="fa fa-sign-in"></i>Shopping cart
                    </a>
                </li>
                <li class="nav-item active dropdown" sec:authorize="isAuthenticated()">
                    <a class="nav-link dropdown-toggle" id="dropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       My account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" th:href="@{/products/addProduct}">Add product</a>
                        <a class="dropdown-item" th:href="@{/purchaseHistory}" >Purchase history</a>
                        <a class="dropdown-item" th:href="@{/settings}">Settings</a>
                    </div>
                </li>
                <li class="nav-item active" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" th:href="@{/signUp}">
                        <i class="fa fa-sign-in"></i>Sign in
                    </a>
                </li>
                <li class="nav-item active" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" th:href="@{/login}">
                        <i class="fa fa-log-in"></i>Login</a>
                </li>
                <ul class="nav-item active" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/login}">
                        <i class="fa fa-sign-out"></i>Logout</a>
                </ul>
            </ul>
        </div>

    </nav>

</div>

<script th:src="@{/js/sb-admin.min.js}"></script>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/jquery.easing.min.js}"></script>
<script th:src="@{/js/jquery.dataTables.js}"></script>
<script th:src="@{/js/dataTables.bootstrap4.js}"></script>
<script th:src="@{/js/sb-admin-datatables.min.js}"></script>

</body>
</html>