.hasError {
    color: red;
    margin-top: 1px;
}

hr.styled {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

body, html {
    height: 100%;
}
.bg {
    /* The image used */
    background-image: url("https://c.pxhere.com/photos/02/ea/computer_computer_code_screen_monitor_computer_screen_programming_html_css-596253.jpg!d");
    /* Full height */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.firstTitle{
    background-color: #007bff;
    color: white;
    width: 40%;
    height: 15vw;
    margin:2%;
    text-align: center;
}

.firstTitle:hover{
    background-color: #006add;
}

.secondTitle{
    background-color: #155724;
    color: white;
    width: 40%;
    height: 15vw;
    margin:2%;
    text-align: center;
}

.secondTitle:hover{
    background-color: #044613;
}
.fa-5x {
    vertical-align: middle;
    margin-top: 20%;
    color: white;
}

.description {
    color: white;
    margin-top: 1%;
    margin-bottom: 1.5%;
    background-color: #4e555b;
    text-align: justify;
}