<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add product</title>
</head>
<body>
<h1>Create new product</h1>
<form th:action="@{addProduct}"
      th:object="${productDto}" method="POST">
    Name:
    <input type="text" th:field="*{name}" /><br/>
    Unit price:
    <input type="text" th:field="*{unitPrice}" /><br/>
    Description:
    <input type="text" th:field="*{description}" /><br/>
    Manufacturer:
    <input type="text" th:field="*{manufacturer}" /><br/>
    Category:
    <select th:field="*{category}">
        <option th:value="'Motors'" th:text="Motor"></option>
        <option th:value="'Fashion'" th:text="Fashion"></option>
        <option th:value="'Electronics'" th:text="Electronics"></option>
        <option th:value="'CollectiblesandArt'" th:text="CollectiblesAndArt"></option>
        <option th:value="'HomeandGarden'" th:text="HomeGarden"></option>
        <option th:value="'SportingGoods'" th:text="SportingGoods"></option>
        <option th:value="'Toys'" th:text="Toys"></option>
        <option th:value="'BusinessandIndustrial'" th:text="BusinessIndustrial"></option>
        <option th:value="'Music'" th:text="Music"></option>
        <option th:value="'Deals'" th:text="Deals"></option>
    </select><br/>
    <input type="submit" value="Add product" />
</form>
</body>
</html>