<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <div th:replace="/fragments/header :: header"/>
</head>
<body>
<div th:replace="/fragments/header :: navbar"/>

<section>
    <div class="jumbotron">
        <div class="container">
            <div class="panel-heading">
                <h1>Witaj w ALLEDROGO</h1>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-sm-1">
            <a th:href="@{/products/all}">All products</a>
        </div>
        <div class="col-sm-1">
            <a th:href="@{/products/motors}">Motors</a>
        </div>
        <div class="col-sm-1">
            <a th:href="@{/products/fashion}">Fashion</a>
        </div>
        <div class="col-sm-1">
            <a th:href="@{/products/electronics}">Electronics</a>
        </div>
        <div class="col-sm-1">
            <a th:href="@{/products/collectiblesandart}">Collectibles & Art</a>
        </div>
        <div class="col-sm-1">
            <a th:href="@{/products/homeandgarden}">Home & Garden</a>
        </div>
        <div class="col-sm-1">
            <a th:href="@{/products/sportinggoods}">Sporting Goods</a>
        </div>
        <div class="col-sm-1">
            <a th:href="@{/products/toys}">Toys</a>
        </div>
        <div class="col-sm-1">
            <a th:href="@{/products/businessandindustrial}">Business & Industrial</a>
        </div>
        <div class="col-sm-1">
            <a th:href="@{/products/music}">Music</a>
        </div>
        <div class="col-sm-1">
            <a th:href="@{/products/deals}">Deals</a>
        </div>
        <div class="col-sm-1">
            <a th:href="@{/products/under10}">Under 10 PLN</a>
        </div>
    </div>
</div>
</body>
</html>