<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products list</title>
    <div th:replace="/fragments/header :: header"/>
</head>
<body>
<div th:replace="/fragments/header :: navbar"/>

<section>
    <div class="jumbotron">
        <div class="container">
            <h1>Products</h1>
            <p>All products in our page</p>
        </div>
    </div>

</section>
<section class="container">
        <span class="border">

        <div class="row">
            <tr th:each ="product: ${productsAll}">
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <div class="caption">
                                <h3><td th:utext="${product.getName()}">...</td></h3>
                                <p>ID:<td th:utext="${product.getProductId()}">...</td></p>
                            <p>Price:<td th:utext="${product.getUnitPrice()}">...</td></p>
                            <p><td th:utext="${product.getDescription()}">...</td></p>
                            <p><td th:utext="${product.getManufacturer()}">...</td></p>
                            <!--<td th:utext="${product.getCategory}">...</td>-->
                                <!--<p><td th:utext="${product.getUnitsInStock()}">...</td></p>-->
                            <p>
                                <a th:href="@{'/shoppingCart/addProduct/{id}'(id =${product.productId})}" class="btn btn-warning btn-large"
                                   role="button">Buy</a>
                            </p>
                        </div>
                    </div>
                </div>
            </tr>
        </div>
            </span>
</section>



</body>
</html>