<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <head>
        <div th:replace="/fragments/header :: header"/>
    </head>
    <title>Shopping cart</title>
</head>
<body>
<div th:replace="/fragments/header :: navbar"/>

<div class="container">
    <h1 class="jumbotron">Shopping cart</h1>

    <div class="card" th:each="product : ${products.entrySet()}">
            <div th:if="${product.getValue() >0}" class="card-header">
                <h1><a th:text="${product.getKey().name}" th:href="@{'/product/' + ${product.getKey().productId}}">Title</a></h1>
                <h3 th:text="${product.getKey().description}">Description</h3>
            </div>
            <div th:if="${product.getValue() >0}" class="card-body">
                <div th:inline="text" class="col-md-2" >
                    <h5 th:text="'Price: ' + ${product.getKey().unitPrice}">Price ...</h5>
                </div>
                <div th:inline="text" class="col-md-9" >
                <h5 th:text="'Quantity: ' + ${product.getValue().toString()}">Quantity ...</h5>
                </div>
                <a th:href="@{'/shoppingCart/deleteProduct/{productId}'(productId =${product.getKey().productId})}" class="btn btn-primary" role="button">Remove</a>
            </div>
    </div>
    <div class="card" th:if="${total> 0 }" th:text="'Total: ' + ${total}">
    </div>
    <div class="card" th:if="${total> 0 }">
        <a th:href="@{'/shoppingCart/checkout'}" class="btn btn-warning btn-large" role="button">Checkout</a>
    </div>
    <div th:if="${total== 0}">
        <h5>You don't have any items in your cart.</h5>
    </div>
</div>

<div class="container">
    <div class="row">
        <a th:href="@{/products/all}">Go to the shopping</a>
    </div>
</div>

</body>
</html>